body{
    background-color: antiquewhite;
}

h1 {
    text-align: center;
    color: salmon;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-style: italic;
}

h2{
    text-align: center;
    color:brown;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-style: italic;
}

ol{
    list-style: upper-roman;
}

li{
    color:blueviolet;
    font-weight: bold;
}
p{
    text-align: justify;
    color: blueviolet;
}

.text {
    font-style: italic;
}

.boldtext {
    font-weight: bold;
}

.box {
    display: inline-block;
    position: absolute;
    height: 250px;
    width: 250px;
    background-color: blue;      
    padding: 20px 50px;
    border-color: darkcyan;
    margin: 20px;     
    z-index: -1;                                                                                                                                                                                                                                                                                                                                                                                                   
}

.cont{
    position: relative;
    height: 1000px;
    background-color: brown;
}

nav {
    position: absolute;
    display: block;
    margin: 0 auto;
    left: 620px;
    top: 100px;
}
.card {
    position: relative;
}
.red {
    background-color: red;
    position: absolute;
    left: 80px;
}